/* HERO */
.hero {
  /* background: linear-gradient(315deg, #417b5a, #4b3f72); */

  background-color: #4b3f72;
  color: azure;
  display: flex;
  align-items: center;
  padding: 6rem;
  margin-bottom: 8rem;
}

.hero-text {
  padding: 0 5rem;
  width: 50%;
}

.hero-text h2 {
  font-size: 3.6rem;
  margin-bottom: 2rem;
}

.hero-text p {
  line-height: 1.5rem;
  font-weight: 300;
  margin-bottom: 6rem;
}

.hero-text a {
  text-decoration: none;
  font-size: 1.2rem;
  background-color: #417b5a;
  padding: 1rem 1.6rem;
  border-radius: 50px;
  color: #f5f5dc;
}

.hero-text a:hover {
  background-color: #1f2041;
  color: #f5f5dc;
  transition: all 0.3s;
}

.hero-image {
  width: 50%;
}
.hero-image img {
  width: 90%;
  clip-path: ellipse(350px 320px at 100% 100%);
}

/* COURSES */
.courses-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
  row-gap: 0;
  padding: 0 11rem;
  margin-bottom: 8rem;
}

.courses-grid a {
  text-decoration: none;
}

.courses-grid .intro-tile {
  /* background: linear-gradient(45deg, #417b5a, #4b3f72); */
  background-color: #465d66;
  color: #f5f5dc;
  /* width: 30%; */
  padding: 4rem;
  border-radius: 2rem;
  font-size: 2.4rem;
  font-weight: 900;
}

/* FOOTER */

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 11rem;
  background-color: #1f2041;
  /* color: #1f2041; */
  /* background: linear-gradient(45deg, #1f2041, #4b3f72); */
}

footer {
  color: #f5f5dc;
}

footer h2 {
  font-size: 1.8rem;
}

footer p {
  font-size: 1.2rem;
}
