/* HEADER & NAVIGATION */
h1 {
  font-size: 2rem;
  font-weight: 900;
  color: #1f2041;
}

header {
  padding: 0 11rem;
  margin-bottom: 8rem;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .logo {
  text-decoration: none;
}

nav button {
  text-decoration: none;
  font-size: 1.2rem;
  background-color: #1f2041;
  padding: 1rem 2rem;
  border-radius: 50px;
  color: beige;
  border: none;
  cursor: pointer;
}

nav button:hover {
  background-color: #4b3f72;
  color: #ffffff;
  transition: all 0.3s;
}

nav .nav-links {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.nav-links .login,
.nav-links .signup {
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 700;
  color: #1f2041;
}
